<center><p style="font-size:20px"><b>Задание.</b></p></center>
<p style="font-size:13px">В данной лабораторной работе необходимо провести моделирование работы ядерного реактора с 
обратными связями по мощности и системе регулирования. Введите в текстовое поле альфа коэффициент регулирования - 
значение от 0 до 1. Коэффициент регулирования определяет во сколько раз необходимо уменьшить мощность реактора. 
В автоматическом режиме система сама выбирает реактивность реактора. В ручном режиме необходимо самостоятельно 
регулировать реактивность, заданную в долях бета. Проведите исследования для различного положения ключей A и B 
и коэффициента регулирования.</p>