<head></head>
<style>
    .listContainer {
        position: relative;
        height: 40px;
    }
    .listText {
        position: absolute;
        left: 50%;
    }
    .listImg {
        position: absolute;
        left: calc(50% - 30px);
    }
    .text {
        font-size: 20px;
    }
</style>
<body>
    <div class="text" style="text-align: center;">
        <h1>Теория</h1>
        <br>
        <img src="imgs/1.png">
        <p>Рис. 1. Упрощённая схема регулирования энергоблока с реактором РБМК.</p>
        <div> 1 – задатчик мощности; 5 – регулятор расхода; </div>
        <div> 2 – регулятор мощности;  6 – задатчик расхода; </div>
        <div> 3 – измеритель мощности; 7 – регулятор давления; </div>
        <div> 4 – привод органов СУЗ; 8 – задатчик давления; </div>
        <div class="listContainer">
            <img src="imgs/2.png" class="listImg">
            <span class="listText"> - расходометр </span>
        </div>
        <div class="listContainer">
            <img src="imgs/3.png" class="listImg">
            <span class="listText"> -  запорно-регулирующая арматура </span>
        </div>
        <div class="listContainer">
            <img src="imgs/4.png" class="listImg">
            <span class="listText"> -  генератор электрического тока </span>
        </div>
        <div class="listContainer">
            <img src="imgs/5.png" class="listImg">
            <span class="listText"> -  монометр </span>
        </div>
    </div>
    <div class="text">
        <span>Пусть реактор с номинальной мощностью</span>
        <span>
            <img src="imgs/40.png" style="margin-bottom: -8px;">
        </span>
        <span>в соответствии с заданной установкой переводится на уровень </span>
        <span>
            <img src="imgs/39.png" style="width: 35px; margin-bottom: -8px;">
        </span>
        <span>
        . Система регулирования должна обеспечить этот переход и в
        дальнейшем поддерживать этот уровень. Переходной
        процесс описывается уравнениями точечной кинетики с
        одной группой запаздывающих нейтронов.</span>
        <table width="100%">
            <tr>
                <td><img src="imgs/41.png" style="width: 400px;"></td>
                <td style="text-align: right; vertical-align: middle; padding-right: 10px; font-size: 25px;">(1)</td>
            </tr>
        </table>
        <br>
        <img src="imgs/38.png" style="width: 250px;">
        <table width="100%">
            <tr>
                <td><img src="imgs/37.png" style="width: 320px;"></td>
                <td style="text-align: right; vertical-align: middle; padding-right: 10px; font-size: 25px;">(2)</td>
            </tr>
        </table>
        <br>
        <img src="imgs/36.png" style="width: 160px;">
        <img src="imgs/35.png" style="width: 260px;">
        <br>
        <span>
            <img src="imgs/34.png" style="width: 35px; margin-bottom: -5px;">
        </span>
        <span> – порог срабатывания системы регулирования</span>
        <br>
        <span>Уравнение для концентрации (мощности) реактора является
            нелинейным. Поэтому закон регулирования (2) может не
            сработать.</span>
        <span>Линеаризуем систему уравнений (1).</span>
        <span>Введём новые переменные</span>
        <img src="imgs/33.png" style="width: 300px; margin-bottom: -20px;">
        <br>
        <img src="imgs/32.png" style="margin-top: 10px; width: 600px;">
        <br>
        <img src="imgs/31.png" style="width: 700px;">
        <br>
        <span>Считая</span>
        <span>
            <img src="imgs/25.png" style="width: 30px; margin-bottom: -6px;"> ,
            <img src="imgs/42.png" style="width: 30px; margin-bottom: -6px;"> ,
            <img src="imgs/30.png" style="width: 30px; margin-bottom: -7px;">
            <span>малыми второго порядка, полагаем</span>
            <img src="imgs/29.png" style="width: 250px; margin-bottom: -15px;">
        </span>
        <span>. Учтём, что в стационарном состоянии при </span>
        <img src="imgs/43.png" style="width: 70px; margin-bottom: -7px;">
        <span>выполняется условие:</span>
        <br>
        <img src="imgs/28.png" style="width: 220px;">
        <br>
        <span>Получим:</span>
        <br>
        <table width="100%">
            <tr>
                <td><img src="imgs/27.png" style="width: 420px;"></td>
                <td style="text-align: right; vertical-align: middle; padding-right: 10px; font-size: 25px;">(3)</td>
            </tr>
        </table>
        <br>
        <span>Введём относительные величины:</span>
        <br>
        <img src="imgs/26.png" style="width: 250px;">
        <br>
        <span>Система уравнений (3) примет вид:</span>
        <table width="100%">
            <tr>
                <td><img src="imgs/24.png" style="width: 500px;"></td>
                <td style="text-align: right; vertical-align: middle; padding-right: 10px; font-size: 25px;">(4)</td>
            </tr>
        </table>
        <br>
        <span>
            <span>Учитывая, что</span>
            <img src="imgs/23.png" style="width: 120px; margin-bottom: -15px;">
            <span>и</span>
            <img src="imgs/22.png" style="width: 120px; margin-bottom: -15px;">
            <span>получим</span>
        </span>
        <table width="100%">
            <tr>
                <td><img src="imgs/21.png" style="width: 400px;"></td>
                <td style="text-align: right; vertical-align: middle; padding-right: 10px; font-size: 25px;">(5)</td>
            </tr>
        </table>
        <br>
        <span>Уравнение (2) с учетом обозначений примет вид:</span>
        <table width="100%">
            <tr>
                <td><img src="imgs/20.png" style="width: 300px;"></td>
                <td style="text-align: right; vertical-align: middle; padding-right: 10px; font-size: 25px;">(6)</td>
            </tr>
        </table>
        <br>
        <span>
            <span>Начальные условия: в начале процесса</span>
            <img src="imgs/19.png" style="width: 160px; margin-bottom: -20px;">
            <span>Пусть</span>
            <img src="imgs/18.png" style="width: 100px; margin-bottom: -15px;">,
            <span>тогда</span>
            <img src="imgs/10.png" style="width: 140px; margin-bottom: -15px;">,
            <img src="imgs/16.png" style="width: 40px; margin-bottom: -10px;">
            <span>мощность снижается до уровня</span>
            <img src="imgs/17.png" style="width: 80px; margin-bottom: -10px;">,
            <span>если</span>
            <img src="imgs/15.png" style="width: 40px; margin-bottom: -10px;">
            <span>, то поднимается до уровня</span>
            <img src="imgs/17.png" style="width: 80px; margin-bottom: -10px;">
        </span>
        <br>
        <img src="imgs/14.png" style="width: 600px;">
        <br>
        <span>При работе по номинальной мощности эффект
            реактивности есть</span>
        <img src="imgs/13.png" style="width: 350px; margin-bottom: -15px;">
        <br>
        <span>
            <span>Тогда</span>
            <img src="imgs/12.png" style="width: 180px; margin-bottom: -10px;">
        </span>
        <br>
        <span>Для реализации методом Рунге-Кутты 4 порядка перепишем
            уравнение (5) и (6) в виде:</span>
        <br>
        <img src="imgs/11.png"  style="width: 400px;">
        <br>
        <span>Начальные условия:</span>
        <span>
            <br>
            <img src="imgs/10.png" style="width: 140px">
            <br>
            <img src="imgs/9.png" style="width: 120px">
            <br>
            <img src="imgs/8.png" style="width: 80px">
            <br>
            <img src="imgs/7.png" style="width: 110px">
        </span>
        <br>
        <span>Для анализа действия обратных связей, введем в формулу
            ключи: A и B</span>
        <br>
        <img src="imgs/6.png" style="width: 400px;">
        <br>
        <span>Если А=0, В=1 – действует только обратная связь по мощности;</span>
        <br>
        <span>Если А=1, В=0 – действует только обратная связь по системе регулирования;</span>
        <br>
        <span>Если А=1, В=1 – действуют обе обратные связи.</span>
    </div>

</body>